@page "/"

<div>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="640" height="400" align="">
        <param name="movie" value="royal_game.swf">
        <param name="loop" value="false">
        <param name="quality" value="high">
        <embed src="royal_game.swf" loop="false" quality="high" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" class="flpl_initiated" width="640" height="400" align="" />
    </object>
</div>

<div>
    Developed By
    <a href="http://www.thebritishmuseum.ac.uk/" target="_blank">The British Museum</a>
</div>